services:
  # nginx-proxy
  nginx-proxy:
    image: ${NGINX_PROXY_IMAGE:-nginxproxy/nginx-proxy:alpine}
    container_name: ${NGINX_PROXY_CONTAINER_NAME:-nginx-proxy}
    restart: always
    ports:
      - ${HTTP_PORT:-80}:80      # port 80
      - ${HTTPS_PORT:-443}:443   # https
    volumes:      
      - ${NGINX_CONF_DIR:-~/docker-vols/nginx/conf.d/}:/etc/nginx/conf.d
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html      
      # - certs:/etc/nginx/certs:ro
      - ~/docker-vols/nginx/certs:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro

volumes:  
  vhost:
  html:

networks:
  default:
    external: true
    name: ${NETWORK_NAME:-nginx-proxy}